ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="18d1", RUN+="/usr/bin/systemctl --user start mirror-android-phone-display.service"
ACTION=="remove", SUBSYSTEM=="usb", ATTRS{idVendor}=="18d1", RUN+="/usr/bin/systemctl --user stop mirror-android-phone-display.service"
